@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-Montserrat: "Montserrat", sans-serif;
  --color-primary: #00c2ff;
  --color-secondary: #dd0bff;
  --color-dark: #111111;
  --container-padding: 1rem;
  --container-padding-sm: 3rem;
}
